.item {
  display: flex;
  align-items: center;
  text-align: center;
  border: 2px solid darkgray;
  border-radius: 3px;
  padding: 15px;
  width: 300px;
}

.item:not(:last-child) {
  margin-bottom: 10px;
}

.isonline {
  border: 10px solid green;
  border-radius: 50%;
}

.isoffline {
  border: 10px solid red;
  border-radius: 50%;
}

.avatar {
  margin-left: 10px;
}

.name {
  margin-left: 10px;
  font-size: 20px;
  font-weight: bold;
  width: 100px;
}

.phoneCall {
  color: green;
}

.phoneOff {
  color: red;
}